body{
    background-color: #f3f3f3 !important;
    font-family: "Bricolage Grotesque", serif !important;
    font-optical-sizing: auto !important;

    font-style: normal !important;
    font-variation-settings:
      "wdth" 100 !important;
}

nav.navbar {
  position: fixed; 
  top: 0; 
  left: 50%; 
  transform: translateX(-50%); 
  width: 100%; 
  max-width: 700px; 
  z-index: 1000; 
  background: rgba(255, 255, 255, 0.25) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px) !important;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
  border-radius: 0 0 20px 20px !important;
 
}
  
  .navbar-brand {
    font-weight: bold;
    color: black !important;
  }
  
  .navbar-nav {
    margin: 0 auto;
    gap: 1.5rem;
  }
  
  .nav-link {
font-weight: 500 !important;
    color: black !important;
  }
  
  .navbar-nav .nav-link:last-child {
    margin-right: 0;
  }
  

  .btn-primary{
    background-color: #4b0082 !important;
    border: none !important;
    border-radius: 12px !important;
  }
  .navbar-brand {
    font-size: 1.7rem !important;
    font-weight: bold; 
    background: linear-gradient(to right, #9370DB, #8A2BE2, #6A5ACD);
    background-clip: text;
    color: transparent; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background 0.3s ease;
  }
  
  .navbar-brand:hover {
    background: linear-gradient(to right, #7B68EE, #6A5ACD, #4B0082);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .nav-link:hover {
 color: #540f85 !important;
 transition:  0.3s ease;
  }

  .d1 {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
  margin-top: 100px;




  }
  .d1 h1{
    font-size: 4rem !important;
    font-weight: 800;
    color: #2b0e44;
    line-height: 1.4;
  }
  .d1 h1 span{
color: #4B0082;
    transform: rotate(-4deg) !important;
    will-change: transform !important;
    display: inline-block;
    background-color: #fcfcfc !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 10px;
    padding: 10px;
    transition: transform 0.3s ease;

  }
  .d1 h1 span:hover{
    transform: rotate(0deg) !important;
   transition: 0.3s ease;
   transform: scale(1.1) !important;

  }
  .shape {
    position: absolute;
    width: 50%;
    height: 300px;
    background: #e5ac3a;
    border-radius: 50%;
    filter: blur(115px);
    z-index: -1;
    top: 35%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
  }
  .shape1 {
    position: absolute;
    width: 50%;
    height: 300px;
    background: #c472f7;
    border-radius: 50%;
    filter: blur(115px);
    z-index: -1;
    top: 35%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
  }
  .parent-container {
    position: relative; 
    width: 100%; 

  }
  /* From Uiverse.io by doniaskima */ 
.btn-23,
.btn-23 *,
.btn-23 :after,
.btn-23 :before,
.btn-23:after,
.btn-23:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-23 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #4b0082;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin-top: 20px;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}

.btn-23:disabled {
  cursor: default;
}

.btn-23:-moz-focusring {
  outline: auto;
}

.btn-23 svg {
  display: block;
  vertical-align: middle;
}

.btn-23 [hidden] {
  display: none;
}

.btn-23 {
  border-radius: 99rem;
  border-width: 2px;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
}

.btn-23 span {
  display: grid;
  inset: 0;
  place-items: center;
  position: absolute;
  transition: opacity 0.2s ease;
}

.btn-23 .marquee {
  --spacing: 5em;
  --start: 0em;
  --end: 5em;
  -webkit-animation: marquee 1s linear infinite;
  animation: marquee 1s linear infinite;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  opacity: 0;
  position: relative;
  text-shadow: #fff var(--spacing) 0, #fff calc(var(--spacing) * -1) 0,
    #fff calc(var(--spacing) * -2) 0;
}

.btn-23:hover .marquee {
  -webkit-animation-play-state: running;
  animation-play-state: running;
  opacity: 1;
}

.btn-23:hover .text {
  opacity: 0;
}

@-webkit-keyframes marquee {
  0% {
    transform: translateX(var(--start));
  }

  to {
    transform: translateX(var(--end));
  }
}

@keyframes marquee {
  0% {
    transform: translateX(var(--start));
  }

  to {
    transform: translateX(var(--end));
  }
}

    .d1-img img{
      height: auto !important;
      width: 100% !important;
      border-radius: 20px;

    
   
    }
    .d1-img{
      margin-top: 80px;
      padding: 20px;
position: relative;
border-radius: 25px;

background: rgba(240, 239, 241, 0.07);

box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(240, 239, 241, 0.3);
    }
 
    .d1-svg {
      position: relative;
      right: -10px;
      margin-top: -55px;
      transform: scaleX(-1);
      flex: 0 0 auto; /* Prevent the SVG from stretching */
      margin-left: 20px; /* Space between image and SVG */
  }
  
  .d1-svg svg {
      display: block;
      transform: scaleX(-1);
      height: auto;
      object-fit: contain; /* Ensure SVG maintains aspect ratio */
  }
  .d2{
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
    margin-top: 20px;
  }
  .d2 h4{
    color:#2b0e44 ;
    padding-bottom: 40px;

  }
  .d2-brands{
    width: 100%;
    margin-bottom: 50px;
  }

  .license-slider {
    margin: 0;
    overflow: hidden;
    position: relative;
  }
  .license-slider::before,
  .license-slider::after {
    background: linear-gradient(to right, #f3f3f3 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  .license-slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  .license-slider::before {
    left: 0;
    top: 0;
  }
  .license-slider .license-slider-track {
    -webkit-animation: scroll 20s linear infinite;
    animation: scroll 20s linear infinite;
    display: flex;
    width: fit-content;
  }
  .license-logo img {
    width: 50px;
    height: fit-content;
  }
  .license-slider .license-logo {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  @-webkit-keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      /* scroll only 50% */
      transform: translateX(-50%);
    }
  }
  
  @media only screen and (max-width: 798px) {
    .license-slider::before,
    .license-slider::after {
        width: 10px;
    }
    .license-slider .license-logo {
        width: 170px;
    }
  }
  .d3{
    margin-top: 120px;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;

  }
  .d3 h2,.d5 h2{
    text-align: left !important;
color: #2b0e44;
font-weight: 900;
font-size: 3rem;

  }
  .d3 .p1,.p3{
    font-size: 1.5rem;
    font-weight: 600;
    color: #4b0082;
  }
  .d3 .p2,.p4{
    font-size: 1.5rem;
    font-weight: 600;
    color: #4b0082;
  }
  .d3-main{
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
   margin-bottom: 50px;
    background: #FF7D33;
  width: 100%;
  height: auto;
  box-shadow: 0;
  border-radius: 16px 0 16px 16px;
  position: relative;
  padding: 20px;
  padding-top: 4.85714285714286%;
  padding-bottom: 4.85714285714286%;
  overflow: hidden;
  }
.d3-upper {
    position: relative; /* Positioning context for the SVG */
    display: flex; /* Flexbox to align child elements */
    justify-content: flex-end; /* Align SVG to the right */
    align-items: flex-end; /* Align SVG to the bottom */
    width: 100%; /* Ensure full width */
    height: 100px; /* Or any height you need */
}

.d3-upper svg {
    position: absolute; /* Keep it in place using absolute positioning */
    right: 0; /* Align to the right */
    bottom: -1px; /* Adjust vertical positioning */
    width: 368px; /* Fixed width */
    height: auto; /* Maintain aspect ratio */
    max-width: 368px; /* Prevent the SVG from growing too large */
}
@media (max-width: 480px) {
  .d3-upper svg {
      width: 150px; /* Smaller width on very small screens */
      max-width: 250px; /* Cap the maximum width */
  }
}

  .d3-files{
 width: 100%;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
  }
  .d3-files img{
    width: 100%;
    height: auto;
    border-radius: 10px !important;
  }
  .d4 {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
   
    min-height: 60rem; /* Replace padding with a fixed minimum height */
    margin: 7rem auto;
   
    background-repeat: repeat;
    background-size: 35.00px auto;
    background-image: url(pattern.svg);
   
    border: 0;
    border-radius: 16px;
    mask: radial-gradient(61.6% 70%, rgb(0, 0, 0) 50.9033%, rgba(0, 0, 0, 0) 100%);
    opacity: 1;
}

.d4 h1 {
    color: #2b0e44;
    font-size: 4rem;
    font-weight: 700;
    width: 100%;
    white-space: nowrap;
    text-align: center;
    max-width: 100%;
    
}
.d4 img{
  width: 60%;
  height: auto;
}
.d4-img{
  height: auto;
  width: 100%;
  margin: 2px auto;
}
.d4-content{
padding: 5rem;
}

/* Media query for screens smaller than 1200px */
@media screen and (max-width: 1200px) {
  .d4 {
      padding: 5rem;
  }
  .d4 img{
    width: 70%;
    height: auto;
  }
  .d4 h1 {
      font-size: 3.5rem;
    
  }
}

/* Media query for screens smaller than 992px */
@media screen and (max-width: 992px) {
  .d4 {
      padding: 2rem;
  }
  .d4 img{
    width: 100%;
    height: auto;
  }
  .d4 h1 {
      font-size: 3.5rem;
      white-space: wrap;
  }
}

/* Media query for screens smaller than 768px */
@media screen and (max-width: 768px) {
  .d4 {
      padding: 2rem;
  }
  .d4 img{
    width: 100%;
    height: auto;
  }
  .d4 h1 {
      font-size: 3rem;
      white-space: wrap;
  }
}

/* Media query for screens smaller than 576px */
@media screen and (max-width: 576px) {
  .d4 {
      padding: 2rem;
  }
  .d4 img{
    width: 100%;
    height: auto;
  }
  .d4 h1 {
      font-size: 3rem;
      white-space: wrap;
  }
}
  
 

.d5 {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important; /* Ensure space between text and image */
  margin-top: 120px;
  width: 80%;
  margin: 120px auto;
}

.d5-left {
  width: 50%; /* Adjust width for the left side text */
}

.d5-right {
  width: 50%;
  height: auto; /* Adjust width for the right side image */
  display: flex;
  justify-content: flex-end; /* Align image to the right */
}

.d5-right img {
  height: auto;
  width: 70%;
  margin-left: 20px; /* Add gap between image and text */
}


@media (max-width: 768px) {
  .d5 {
    flex-direction: column; /* Stack the text and image vertically */
    align-items: center; /* Center align content */
  }

  .d5-left, .d5-right {
    width: 100%; /* Make each container full width */
   
    padding-right: 0; /* Remove right padding */
  }

  .d5-left h2 {
    font-size: 2rem; /* Adjust h2 font size for smaller screens */
    margin-bottom: 10px; /* Space between h2 and p4 */
  }

  .d5-left p, .d5-left .p4 {
    font-size: 1.3rem; /* Adjust font size for paragraphs */
    margin-top: 5px; /* Space between text and p4 */
  }

  .d5-right img {
    width: 100%; /* Resize image for smaller screens */
    margin-left: 0; /* Remove margin for better alignment */
  }
}

